.head{
  margin-left: 400px;
}
.head h1{
  margin-left: 100px;
}
h1{
  justify-content: center;
  color: brown;
}
.container{
  background-color: rgb(190, 242, 225);
  margin-top: 20px;
}
.container th{
  background-color: #1c0658;
  color: white;
}
.container input{
  width: 40%;
}
.container select{
  width: 40%;
}
.container textarea{
  width: 40%;
}
img{
  width: 10%;
}
.ser select{
  width: 40%;
  background-color:  #1c0658;;
  color: white;
  margin-bottom: 30px;
  margin-left: 400px;
}
.navitems{
  margin-left: 100px;

}
/* .alink {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #1c0658;
  color: #f9eded;
  padding: 2px 6px 2px 6px;
 border: 2px solid rgb(172, 167, 167);
} */
.search{
  margin-left: 400px;
  color: brown;
}
/* .pages{
  text-decoration: none;
  color: red;
}
.p{
  text-decoration: none;
} */
.pages{
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #1c0658;
  color: #f9eded;
  padding: 2px 6px 2px 6px;
 border: 2px solid rgb(172, 167, 167);
}

/* width: 8.666667%; */